body {
    margin: 0;
    overflow: hidden;
    background: #70c5ce;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameCanvas {
    background: #4ec0ca;
    border: 3px solid #000;
}